body{
    font-family: $primaryFont;
    color: $secondaryDarkColor;
    background-color: #e5e5e5;
}
.wrapper
{
    background-color: $primaryColor;
    margin:auto;
}
.container {
    width: 1200px;
    margin: auto;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }